{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">




<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>SENS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
       <link rel="stylesheet" type="text/css" href="/static/default.css" />
    </head>
    <body>  

        <form action="" class="register">
            <h1>SENS FORM</h1>
            <fieldset class="row1">
                <legend>Project Name
                </legend>
                <p>
                    <label>Project Name 
                    </label>
                    <select class="field">
                        <option value="1">MOBOMO
                        </option>
                        <option value="2">WEBS
                        </option>
                        <option value="3">IOT
                        </option>
                        <option value="4">PRIVATE FLY
                        </option>
                        <option value="5">TOLVEN
                        </option>
                        <option value="6">CLEAR SPRING
                        </option>
                        
                    </select>
                <p>
                    <label>Project Members
                    </label>
                   <select class="field">
                        <option value="1">VISHNU 
                        </option>
                        <option value="2">MITHUN CHERIYATH
                        </option>
                        <option value="3">ADARSH
                        </option>
                        <option value="4">RUBEN
                        </option>
                        <option value="5">FEROZ
                        </option>
                        <option value="6">VINEETH
                        </option>
                        
                    </select>
                    <label class="obinfo">* obligatory fields
                    </label>
                </p>
            </fieldset>
            <fieldset class="row2">
                <legend>Instance Details
                </legend>
                <p>
                    <label>Instance Name
                    </label>
                    <select class="field">
                        <option value="1">WEBLOGIC
                        </option>
                        <option value="2">ORACLE-DB
                        </option>
                        <option value="3">POSTGRES
                        </option>
                        <option value="4">MYSQL
                        </option>
                        <option value="5">DJANGO 
                        </option>                        
                    </select>
                   
                </p>
            
                <div class="infobox"><h4>Instance Current Status</h4>
                    <p>VOLUME ID        :9a5q6h8<br>
                       STORAGE          :8GB<br>
                       INSTANCE TYPE    :MICRO<br><br>

                       PUBLIC IP        :61.17.42.118<br>
                       PRIVATE IP       :10.2.0.122<br>
                       ELASTIC IP       :61.17.42.118<br>
                       INSTANCE STATUS  :RUNNING

                    </p>
                </div>
            </fieldset>
            <fieldset class="row3">
                <legend>INSTANCE CHANGE
                </legend>
               
                <p>
                    <label>INSTANCE START TIME
                    </label>
                    <select class="time">
                        <option value="1">01:00
                        </option>
                        <option value="2">02:00
                        </option>
                        <option value="3">03:00
                        </option>
                        <option value="4">04:00
                        </option>
                        <option value="5">05:00
                        </option>
                        <option value="6">06:00
                        </option>
                        <option value="7">07:00
                        </option>
                        <option value="8">08:00
                        </option>
                        <option value="9">09:00
                        </option>
                        <option value="10">10:00
                        </option>
                        <option value="11">11:00
                        </option>
                        <option value="12">12:00
                        </option>
                        
                    </select>
                    <select class='time'>
                    <option value='AM'>AM</option>
                    <option value='PM'>PM</option>
                    </select></p>
                    <p>
                    <label>INSTANCE STOP TIME
                    </label>
                     <select class="time">
                        <option value="1">01:00
                        </option>
                        <option value="2">02:00
                        </option>
                        <option value="3">03:00
                        </option>
                        <option value="4">04:00
                        </option>
                        <option value="5">05:00
                        </option>
                        <option value="6">06:00
                        </option>
                        <option value="7">07:00
                        </option>
                        <option value="8">08:00
                        </option>
                        <option value="9">09:00
                        </option>
                        <option value="10">10:00
                        </option>
                        <option value="11">11:00
                        </option>
                        <option value="12">12:00
                        </option>
                        
                    </select>
                    <select class='time'>
                    <option value='AM'>AM</option>
                    <option value='PM'>PM</option>
                    </select>
                   
                </p>
                <p>
                    <label>Email Template
                    </label>
                    <select>
                        <option value="0">Server down
                        </option>
                        <option value="1">Server restart
                        </option>
                        
                    </select>
                </p>
               
                <div class="infobox"><h4>Helpful Information</h4>
                    <p>The server is running smoothly and is facing no immediate threats.</p>
                </div>
            </fieldset>
           <fieldset class='bottom'>
            <div align='center'><button class="button">SUBMIT &raquo;</button></div>
            </fieldset>
        </form>
    </body>
</html>





